h1
{
    text-align: center;
    color: #575757;
}
/*draft clock*/
.draft_clock {
    font-family: sans-serif;
    color: #575757;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    position: relative;
    width: 472px;
    margin-left:15px;
}
.draft_clock > div{
    display: inline-block;
}
.draft_clock div > span {

    padding: 0px 10px;
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    margin-right:-9px;
}
.draft_clock div span.small
{
    font-size: 70px;
    line-height: 70px;
}
.draft_clock div span.medium
{
    font-size: 80px;
    line-height: 80px;
}
.draft_clock div span.big
{
    font-size: 90px;
    line-height: 90px;
}
.draft_clock div div {
    color: #a7abb1;
    font-size: 14px;
}
.draft_clock .days {
    padding: 0 10px;
    color: #fff;
}
.draft_clock .smalltext.small
{
    font-size: 15px;
}
.draft_clock .smalltext.medium
{
    font-size: 20px;
}
.draft_clock .smalltext.big
{
    font-size: 25px;
}
/*End draft clock*/
/*SIMPLE CLOCK*/
.simple_clock {
    font-family: sans-serif;
    color: #575757;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}
.simple_clock > div{
    padding: 10px;
    color: white;
    border-radius: 3px;
    display: inline-block;
}
.simple_clock div > span {

    padding: 15px;
    border-radius: 3px;
    display: inline-block;
}
.simple_clock div span.small
{
    font-size: 25px;
    line-height: 25px;
}
.simple_clock div span.medium
{
    font-size: 30px;
    line-height: 30px;
}
.simple_clock div span.big
{
    font-size: 40px;
    line-height: 40px;
}
.simple_clock .smalltext
{
    padding-top: 5px;
    font-size: 16px;
}
/*END SIMPLE CLOCK*/
/*CIRCULAR CLOCK*/
.circular_clock
{
    text-align: center;
}
.circular_clock > div
{
    width: 100px;
    display: inline-block;
}
.circular_clock  .smalltext.small
{
    font-size: 15px;
}
.circular_clock  .smalltext.medium
{
    font-size: 18px;
}
.circular_clock  .smalltext.big
{
    font-size: 22px;
}
canvas {
    display: inline-block;
}
/*END CIRCULAR CLOCK*/
/*fadeout CLOCK*/
#fadeout_clock {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 200;
    color: #333;
}
#fadeout_clock  .background
{
    text-align: center;
    border-radius: 25px;
}
#fadeout_clock .background.small
{

    line-height: 50px;
    font-size: 20px;
}
#fadeout_clock .background.medium
{

    line-height: 60px;
    font-size: 25px;
}
#fadeout_clock .background.big
{

    line-height: 70px;
    font-size: 30px;
}
#fadeout_clock .txt.small
{
    font-size: 15px;
}
#fadeout_clock .txt.medium
{
    font-size: 17px;
}
#fadeout_clock .txt.big
{
    font-size: 20px;
}
#fadeout_clock > div > div {
    display: inline-block;
    position: relative;
}
#fade {
    display: inline-block;
    position: relative;
    animation-name: slide_out, fadein;
    animation-duration: 1s;
}
#fadeseconds {
    display: inline-block;
    position: relative;
    animation-name: slide, fadeout;
    animation-duration: 1s;
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes slide {
    from { bottom: 0; }
    to { bottom: 1em; }
}
@keyframes slide_out {
    from { bottom: 1em; }
    to { bottom: 0; }
}
/*END fadeout CLOCK*/