<?php
if ($this->getCountdown() && $this->getReadyCountDown() && $this->isCountdownEnabled()){
    $countdowndate = strtotime($block->getToDate());
?>
<!--Clock in List Product-->
    <style>
        .clockdiv {
            margin-bottom: 10px;
            text-align: center;

        }
        .clockdiv > div {
            border-style: solid;
            border-width: 2px;
            border-color: darkgray;
            background-color: #333;
            display: inline-block;
            text-align: center;
            width: 52px;
            height: 50px;
        }
        .smalltext{
            color:white;
            font-size: 12px;
        }
        .clockdiv > div > span {
            display: inline-block;
            padding-top: 5px;
            color: white;
        }
    </style>
    <div id="clockdiv<?php echo $block->getProductId();?>" class="clockdiv">
        <div>
            <span id="days<?php echo $block->getProductId();?>"></span>
            <div class="smalltext">Days</div>
        </div>
        <div>
            <span id="hours<?php echo $block->getProductId();?>"></span>
            <div class="smalltext">Hours</div>
        </div>
        <div>
            <span id="minutes<?php echo $block->getProductId();?>"></span>
            <div class="smalltext">Minutes</div>
        </div>
        <div>
            <span id="seconds<?php echo $block->getProductId();?>"></span>
            <div class="smalltext">Seconds</div>
        </div>
    </div>
    <script>
        var countDownDate = "<?php echo $countdowndate;?>" + "000";
        var x = setInterval(function() {
            var now = new Date().getTime();
            var distance = countDownDate - now;
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            document.getElementById("days<?php echo $block->getProductId();?>").innerHTML = (days < 10) ? ("0"+days) : days;
            document.getElementById("hours<?php echo $block->getProductId();?>").innerHTML = (hours < 10) ? ("0"+hours) : hours;
            document.getElementById("minutes<?php echo $block->getProductId();?>").innerHTML = (minutes < 10) ? ("0"+minutes) : minutes;
            document.getElementById("seconds<?php echo $block->getProductId();?>").innerHTML = (seconds < 10) ? ("0"+seconds) : seconds;
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("clockdiv<?php echo $block->getProductId();?>").innerHTML = "<p>EXPIRED</p>";
            }
        }, 1000);
    </script>
<?php
}
?>
