<?php
$clock = null;
$clock = $block->prepareClockData();
if($block->isCountdownEnabled() && isset($clock) && $block->getReadyCountDown()) {
	$countdowndate = strtotime($block->getToDate());
	$h1size = null;
	switch ($clock['size_clock']) {
		case "small":
			$h1size = "20px";
			break;
		case "medium":
			$h1size = "25px";
			break;
		case "big":
			$h1size = "30px";
			break;
	}
	?>
	<h1 style="font-size: <?php echo $h1size;?>; color: <?php echo $clock['text_color']?>"><?php echo $clock['title_clock']; ?></h1>
    <!--		Draft Clock-->
    <?php if($clock['type_clock'] == 'draft'){?>
		<div
			id="<?php echo $clock['type_clock'].'_clock'?>"  class="<?php echo $clock['type_clock'].'_clock'?>"
		>
			<div>
			<span
				id="days" style="border-top: 1px solid <?php echo $clock['color_clock']?>; border-bottom: 1px solid <?php echo $clock['color_clock']?>; background-color:<?php echo $clock['color_clock']?>; color:<?php echo $clock['text_color'];?>" class="days <?php echo $clock['size_clock']; ?>"
			>
			</span>
				<div
					class="smalltext" style="color: <?php echo $clock['text_color']?>"
				>
					Days
				</div>
			</div>
			<div>
			<span
				id="hours" style="border-top: 1px solid <?php echo $clock['color_clock']?>; border-bottom: 1px solid <?php echo $clock['color_clock']?>; color:<?php echo $clock['text_color'];?>" class="hours <?php echo $clock['size_clock']?>"
			>
			</span>
				<div
					class="smalltext" style="color: <?php echo $clock['text_color']?>"
				>
					Hours
				</div>
			</div>
			<div>
			<span
				id="minutes" style="border-top: 1px solid <?php echo $clock['color_clock']?>; border-bottom: 1px solid <?php echo $clock['color_clock']?>; color:<?php echo $clock['text_color'];?>" class="minutes <?php echo $clock['size_clock']?>"
			>
			</span>
				<div
					class="smalltext" style="color: <?php echo $clock['text_color']?>"
				>
					Minutes
				</div>
			</div>
			<div>
			<span
				id="seconds" style="border-top: 1px solid <?php echo $clock['color_clock']?>; border-bottom: 1px solid <?php echo $clock['color_clock']?>; border-right: 1px solid <?php echo $clock['color_clock']?>; color:<?php echo $clock['text_color'];?>" class="seconds <?php echo $clock['size_clock'];?>"
			>
			</span>
				<div
					class="smalltext" style="color: <?php echo $clock['text_color']?>"
				>
					Seconds
				</div>
			</div>
		</div>
		<script>
			var countDownDate = "<?php echo $countdowndate;?>" + "000";
			simpledraft(countDownDate);
		</script>
<!--		End Draft Clock-->
	<?php } ?>
<!--Simple Clock-->
    <?php if($clock['type_clock'] == 'simple'){?>
        <div
                id="<?php echo $clock['type_clock'].'_clock'?>"  class="<?php echo $clock['type_clock'].'_clock'?>"
        >
            <div style="background-color: <?php echo $clock['color_clock']?>">
			<div style="<?php $hex = $clock['color_clock']; list($r, $g, $b) = sscanf($hex, "#%02x%02x%02x"); $r = $r - 100; if($r <= 10){$g = $g-50;} if($r <=0 && $g <=0){$b=$b-50;} echo "background: rgba(".$r.",".$g.",".$b.",0.8)"?>;">
                <span
                        id="days" style="color:<?php echo $clock['text_color']; ?>;" class="days <?php echo $clock['size_clock'] ?>"
                >
			</span>
            </div>
                <div
                        class="smalltext" style="color: <?php echo $clock['text_color']?>"
                >
                    Days
                </div>
            </div>
            <div style="background-color: <?php echo $clock['color_clock']?>">
                <div style="<?php $hex = $clock['color_clock']; list($r, $g, $b) = sscanf($hex, "#%02x%02x%02x"); $r = $r - 100; if($r <= 10){$g = $g-50;} if($r <=0 && $g <=0){$b=$b-50;} echo "background: rgba(".$r.",".$g.",".$b.",0.8)"?>;">
                    <span
                            id="hours" style="color:<?php echo $clock['text_color']; ?>; " class="hours <?php echo $clock['size_clock']?>"
                    >
			</span>
                </div>

                <div
                        class="smalltext" style="color: <?php echo $clock['text_color']?>"
                >
                    Hours
                </div>
            </div>
            <div style="background-color: <?php echo $clock['color_clock']?>">
                <div style="<?php $hex = $clock['color_clock']; list($r, $g, $b) = sscanf($hex, "#%02x%02x%02x"); $r = $r - 100; if($r <= 10){$g = $g-50;} if($r <=0 && $g <=0){$b=$b-50;} echo "background: rgba(".$r.",".$g.",".$b.",0.8)"?>;">
                    <span
                            id="minutes" style="color:<?php echo $clock['text_color']; ?>; " class="minutes <?php echo $clock['size_clock']?>"
                    >
			</span>
                </div>

                <div
                        class="smalltext" style="color: <?php echo $clock['text_color']?>"
                >
                    Minutes
                </div>
            </div>
            <div style="background-color: <?php echo $clock['color_clock']?>">
                <div style="<?php $hex = $clock['color_clock']; list($r, $g, $b) = sscanf($hex, "#%02x%02x%02x"); $r = $r - 100; if($r <= 10){$g = $g-50;} if($r <=0 && $g <=0){$b=$b-50;} echo "background: rgba(".$r.",".$g.",".$b.",0.8)"?>;">
                    <span
                            id="seconds" style="color:<?php echo $clock['text_color']; ?>; " class="seconds <?php echo $clock['size_clock']?>"
                    >
			</span>
                </div>

                <div
                        class="smalltext" style="color: <?php echo $clock['text_color']?>"
                >
                    Seconds
                </div>
            </div>
        </div>
        <script>
            var countDownDate = "<?php echo $countdowndate;?>" + "000";
            simpledraft(countDownDate);
        </script>
    <?php } ?>
<!--    End Simple Clock-->
    <!--		Circular Clock -->
	<?php if($clock['type_clock'] == 'circular'){
		$fontsize = null;
		$size = null;
		$textsize = null;
		$xtext = null;
		$ytext = null;
		$xcircle = null;
		$ycircle = null;
		$wcircle = null;
		switch ($clock['size_clock']) {
			case "big" :
				$fontsize = 22;
				$size = 100;
				$textsize = 30;
				$xtext = 35;
				$ytext = 60;
				$xcircle = 50;
				$ycircle = 50;
				$wcircle = 45;
				break;
			case "medium":
				$fontsize = 18;
				$size = 75;
				$textsize = 20;
				$xtext = 25;
				$ytext = 45;
				$xcircle = 37;
				$ycircle = 37;
				$wcircle = 35;
				break;
			case "small":
				$fontsize = 15;
				$size = 50;
				$textsize = 15;
				$xtext = 17;
				$ytext = 30;
				$xcircle = 25;
				$ycircle = 25;
				$wcircle = 24;
				break;
		}
		?>
		<div id = "circular_clock" class="circular_clock">
			<div id="days">
				<canvas id="daysCanvas" width="<?php echo $size."px";?>" height="<?php echo $size."px";?>">
				</canvas>
				<p class="smalltext <?php echo $clock['size_clock']?>" style="color: <?php echo $clock['text_color']?>">Days</p>
			</div>
			<div id="hours">
				<canvas id="hoursCanvas" width="<?php echo $size."px";?>" height="<?php echo $size."px";?>">
				</canvas>
				<p class="smalltext <?php echo $clock['size_clock']?>" style="color: <?php echo $clock['text_color']?>">Hours</p>
			</div>
			<div id="minutes">
				<canvas id="minutesCanvas" width="<?php echo $size."px";?>" height="<?php echo $size."px";?>">
				</canvas>
				<p class="smalltext <?php echo $clock['size_clock']?>" style="color: <?php echo $clock['text_color']?>">Minutes</p>
			</div>
			<div id="seconds">
				<canvas id="secondsCanvas" width="<?php echo $size."px";?>" height="<?php echo $size."px";?>">
				</canvas>
				<p class="smalltext <?php echo $clock['size_clock']?>" style="color: <?php echo $clock['text_color']?>">Seconds</p>
			</div>
		</div>
		<script>
			var countDownDate = "<?php echo $countdowndate;?>" + "000";
			var size = <?php echo $size; ?>;
			var textsize = <?php echo $textsize; ?>;
			var xtext = <?php echo $xtext; ?>;
			var ytext = <?php echo $ytext; ?>;
			var xcircle = <?php echo $xcircle; ?>;
			var ycircle = <?php echo $ycircle; ?>;
			var wcircle = <?php echo $wcircle; ?>;
			var textColor = "<?php echo $clock['text_color'];?>";
			var colorClock = "<?php echo $clock['color_clock'];?>";
			circular(countDownDate);
		</script>

	<?php }?>
    <!--		End Circular Clock-->
    <!--		Fadeout Clock-->
	<?php if($clock['type_clock'] == 'fadeout'){ ?>
		<div id="fadeout_clock">
			<div class="background <?php echo $clock['size_clock']?>" style="border: 1px solid <?php echo $clock['color_clock']?>;">
				<div id = "days" class ="txt" style="color: <?php echo $clock['text_color']?>;"></div>
				<span class="txt <?php echo $clock['size_clock']?>" style="color: <?php echo $clock['text_color']?>;">Days</span>
				<div id = "hours" class ="txt" style="color: <?php echo $clock['text_color']?>;"></div>
				<span class="txt <?php echo $clock['size_clock']?>" style="color: <?php echo $clock['text_color']?>;">Hours</span>
				<div id = "minutes" class ="txt" style="color: <?php echo $clock['text_color']?>;"></div>
				<span class="txt <?php echo $clock['size_clock']?>" style="color: <?php echo $clock['text_color']?>;">Minutes</span>
				<div id = "seconds" class ="txt" style="color: <?php echo $clock['text_color']?>;"></div>
				<span class="txt <?php echo $clock['size_clock']?>" style="color: <?php echo $clock['text_color']?>;">Seconds</span>
			</div>
		</div>
		<script>
			var countDownDate = "<?php echo $countdowndate;?>" + "000";
			fadeout(countDownDate);
		</script>
	<?php }?>
<!--    End Fadeout Clock-->
	<?php
}
?>